*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
#preloader{
    background: rgb(255, 255, 255) url(../assets/preloader-linear.gif) no-repeat center center;
    background-size: 25%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100%;
}
.slider-container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #28abaf;
}
.img-box{
    width: 100%;
    margin: 20%;
    line-height: 0;
    background-image: url(../assets/slider-base2.jpg);
    overflow: hidden;
    position: relative;
}
.img-wrap{
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}
#arrow-span{
    height: 100%;
    width: 1px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    cursor: ew-resize;
}
.arrow{
    width: 40px;
    /* height: 10px; */
    position: absolute;
    top: 50%;
    margin-left: -20px;
    margin-top: -20px;
    background-color: white;
    border-radius: 30%;
}
.select-bar{
    width: 80%;
    height: 80vh;
    padding: 10%;
    background-image: linear-gradient(to top right, orange, blue);
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}
.selector{
    margin: 10%;
    position: relative;
    width: 500px;
}
#selectfield{
    width: 100%;
    padding: 15px 20px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
#selectfield img{
    width: 20px;
    transition: transform 0.3s;
}
#game-list{
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    margin-top: 7px;
    transition: all 0.1s;
}
.game-item{
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    cursor: pointer;
}
.game-item img{
    width: 50px;
}
.game-item:hover{
    background-color: rgba(255, 255, 255, 0.9);
}
.titles{
    margin: 20px 0;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    background-color: rgba(255, 255, 255, 0.5);
    border-color: aqua;
    border: 4px solid #28abaf ;
}
.hide-list{
    visibility: hidden;
}
.rotate{
    transform: rotate(180deg);
}
.select-bar button{
    position: absolute;
    box-sizing: border-box;
    width: 80px;
    height: 80px;
    left: 43%;
    /* top: 12rem; */
    background-color: rgba(255, 255, 255, 0);
    border-radius: 100%;
    font-size: larger;
    cursor: pointer;
    transition: all ease-in 0.2s;
}
.select-bar button:hover{
    background-color: rgba(255, 255, 255, 0.5);
}
.select-bar button:focus{
    background-color: rgba(255, 255, 255, 0.5);
}
.btnexpanded{
    top: 20rem;
}